.cuerpo {
  background-color: #040833;
  margin: auto;
  width: 60%;
  color: #FFFFFF;
  text-align: left;
  font-family: "Montserrat","Roboto Flex","Sans";
  font-style: normal;
  font-weight: 400;
}

.cabecera {
  text-align: right;
}

.pie {
  text-align: right;
}


a {
  font-size:16px;
  color: #FFFFFF;
  text-decoration-line: none;
}

a:hover {
  background-color: #D0D0D0;
  color: #040833;
}


.nombre {
  font-size:24px;
  font-weight: 600;
}

.seccion {
  font-size:16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  word-spacing: 1px;
  line-height: 2;
}

.parrafo {
  color: #D0D0D0;
  font-size:16px;
  font-weight: 200;
  letter-spacing: 0.5px;
  word-spacing: 1px;
  line-height: 2;
}
