.bdmain {
  background-color: #F0F0F0;
  margin: auto
  width: 40%;
}

.nombre {
  color: #080808;
  text-align: center
}

.profesion {
  background-color: #808080;
  text-align: center
}

.parrafo {
  background-color: #404040;
}
